[user]
	name = Luca Brandimarti
	email = luca-brandimarti.developer@outlook.it
	username = spottus
[init]
	defaultBranch = master

[alias]
	a = add --all
	ai = add -i
	#############
	ap = apply
	as = apply --stat
	ac = apply --check
	#############
	ama = am --abort
	amr = am --resolved
	ams = am --skip
	#############
	b = branch
	ba = branch -a
	bd = branch -d
	bdd = branch -D
	br = branch -r